.SideBar
  .UserBox
    .UserBox__list
      %h3.UserBox__name  masa
      %ul.UserBox__iconList
        = link_to "#", class:"icon_1" do
          = icon('fa','edit')
        = link_to "#", class:"icon_2"do
          = icon('fa','cog')
  .GroupList
    .GroupList__name techcamp
    .GroupList__message まだメッセージはありません